* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

h2 {
  font-size: 2.4rem;
}

button {
  border: none;
  cursor: pointer;
  border-radius: 0.2rem;
  text-transform: uppercase;
  background-color: #ccb099;
  color: #ffff;
  padding: 1rem 1.4rem;
  font-size: 1.2rem;
  font-weight: 600;
}

ul, ol {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}